h1 {
	font-family: Impact;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	color:darkblue;
	margin: 0;
}

h2 {
	margin: 0;
	color: darkblue;
	font-family: Brush Script MT, Bold, sans-serif;
}

body {
	text-align: center;
}

input {
	width: 90%;
	margin:5px;
}


img {
	height: 400px;
	align-items: center;
	
  }

  .meme-text {
	font-family: Impact, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 4px black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	position:absolute;
	text-align: center;
	width: 100%;
  }
  
  
  .topText {
	top: 2%;
	width: 100%;
  }
  
  .bottomText {
	bottom: 3%;
	width: 100%;
  }

  .meme {
	position: relative;
	display: inline-block;
	margin: 10px;
  }
  
  .delete-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
  }

