h1 {
	text-align: center;
}

body {
	text-align: center;
}

input {
	width: 90%;
	margin:5px;
}

img {
	max-width: 600px;
	max-height: auto;
	align-items: center;
  }

  .meme-text {
	font-family: Impact, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 4px black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	position:absolute;
	text-align: center;
	width: 100%;
  }
  
  
  .topText {
	top: 5%;
	position: absolute;
	width: 100%;
  }
  
  .bottomText {
	top: 95%;
	position: absolute;
	width: 100%;
  }
  
  .delete-button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	/* display: none; */
  }

  /* .meme-container:hover .delete-button {
	display: block;
  } */
   

  /* .meme-container img {
	width: 800px !important; /* Set the desired width */
	height: auto !important; /* Maintain aspect ratio */
}
 */

/* .meme {
  position: relative;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  max-height: auto;
}

.meme-image {

  position: relative;
}

.meme-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
} */

/* .meme-element {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
  } */